.search {
    display: flex;
    margin-bottom: .3125rem;
    margin-top: .3125rem;
    height: 43px;
    background-color: #fff;
    padding: 0px;
    border-radius: 5px;
}

.search:active {
    border-color: none;
    outline-color: none;
}

.search-input {
    color: white;
    border: none;
    line-height: 40px;
    font-size: 21px;
    padding: 0 10px;
    color: black;

}

.search-icon {
    border-radius: 5px;
    height: 37px;
    width: 43px;
    display: flex;
    position: relative;
    right: 5px;
    border: none;
    top: 3px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #C8A2C8;
}

.search-icon:active {
    background-color: #be7ebe;
    border: none;
}