.input-group-addon {
    border-left: 0;
    border-right: 0;
}

.input-group-addon:last-child {
    border-left: 0;

}

#nm-produk {
    font-weight: 550;
}

a:hover {
    text-decoration: none;
}

.btn-login {
    border-color: #A55FA5;
    color: #A55FA5;
    font-weight: bold;
    font-size: 18px;
}

.btn-login:hover {
    border-color: #A55FA5;
    color: #A55FA5;
    pointer-events: none;
    font-weight: bold;
}

.btn-sign {
    background-color: #A55FA5;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.btn-sign:hover {
    background-color: #af6caf;
    color: white;
}

.btn-sign:active {
    background-color: #884388;
    color: white;
}